
@{
    ViewBag.Title = "ShowResults";
}
<h2>ShowResults</h2>

<h3>@ViewBag.RawData </h3>
@*<h3>@ViewBag.RawData1</h3>*@


<h2></h2>

@foreach (var r in ViewBag.RInfo)   //for each record in this var we just made up called RInfo, show r
{
    <h4>@r</h4>
}



